Ambiance RCDATA "..\\GoblinSweeperSons\\Ambiance.mp3"
CriGoblin RCDATA "..\\GoblinSweeperSons\\CriGoblin.mp3"
Drapeau RCDATA "..\\GoblinSweeperSons\\Drapeau.wav"
FeuArtifice RCDATA "..\\GoblinSweeperSons\\FeuArtifice.mp3"
Pelle RCDATA "..\\GoblinSweeperSons\\Pelle.mp3"
